{% extends "layout.html" %}
{% block title %} Welcome | {{ super() }}{% endblock %}

{% block body %}

<div class="splash pure-g">
    <div class="pure-u-1 pure-u-md-1-24"></div>
    <div class="pure-u-1 pure-u-md-10-24">
        <div class="l-box">
        <h1>My Texas Power</h1>
        <p>
            Welcome to My Texas Power, a tool that allows you to easily compare electric plans by how much they will cost each month. Simply fill out the form to the right to get stated.

            <h4><u>Features</u></h4>
            <ul>
                <li>Easily compare monthly cost</li>
                <li>Avoid teaser rates</li>
                <li>Free to use</li>
            </ul>
        </p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-10-24">
        <div class="l-box">
            <form action="{{ url_for('save') }}" method="POST" class="pure-form pure-form-stacked">
                <div class="white-box">
                <fieldset>
                    <h2>Input your electric needs</h2>

                    <label for="usage">Your average monthly kWh usage</label>
                    <input name ="usage" id="usage" type="number" class="pure-input-1" value="{{ saves.get('usage', '1000') }}" min=0 max=2000 required>

                    <label for="tdu">Select your TDU provider</label>
                    <select name="tdu" id="tdu" class="pure-input-1">
                        {% for tdu in tdus %}
                        <option value="{{ tdu.TduCompanyName }}" {% if saves.get('tdu') == tdu.TduCompanyName %} selected="selected" {% endif %}>{{ tdu.TduCompanyName }}</option>
                        {% endfor %}
                    </select>

                    <label for="renewable">Do you want 100% renewable energy?</label>
                    <select name="renewable" id="renewable" class="pure-input-1">
                        <option value=100 {% if saves.get('renewable') == "100" %} selected="selected" {% endif %}>Yes - Clean energy is important to me.</option>
                        <option value=0 {% if saves.get('renewable') == "0" %} selected="selected" {% endif %}>No - I'm just looking for the best deal.</option>
                    </select>

                    <label for="contract">Minimum contract length (months)</label>
                    <input name="contract" id="contract" type="number" class="pure-input-1" value="{{ saves.get('contract', '12') }}" min=0 max=48>
                    <br>
                    <button type="submit" class="pure-button pure-button-primary">View Offers</button>
                </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="l-box">
            <h3>What is a TDU?</h3>
            <p>
                A TDU is a Transmiision and Delivery Utility. It's the company that delivers electricity from the company that generates it to your home. If you aren't sure who your company is you can check <a href="http://quickelectricity.com/utility-providers/" target="_blank"><b>here</b></a>.
            </p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="l-box">
            <h3>How much power do I use?</h3>
            <p>
                Most utility companies display your average monthly Kwh usage on your account online. If you don't have a current provider your can find a calculator online to estimate such as <a href="https://www.reliant.com/public/moveBillEstimator.htm" target="_blank"><b>this one</b></a>.
            </p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="l-box">
            <h3>Feedback</h3>
            <p>
                MyTexasPower was created after many frustrating hours of using PowertoChoose.org with the hope of making people's lives easier. Please provide site improvement suggestions at <a href="mailto:mytxpower@gmail.com?Subject=MyTexasPower%20Feedback" target="_top">MyTXPower@gmail.com</a>
            </p>
        </div>
    </div>
  </div>
{% endblock %}
