<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Texas Power</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
  <div class="pure-g messages">
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
   {% endif %}
  {% endwith %}
  <div class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading pure-menu-link">MyTexasPower</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/about/" class="pure-menu-link">About</a></li>
    </ul>
  </div>
    {% block body %}{% endblock %}
  </body>
  <div class="footer">
     <div class="pure-u-1 u-sm-1-2">
      <ul class="legal-links">
        <li> <a href="mailto:mytexaspower@gmail.com" target="_top">Contact</a></li>
        <li> <a href="https://github.com/krisfield/MyTexasPower" target="_blank"><img src="/static/img/GitHub-Mark-32px.png" alt="GitHub Mark" style="width:16px;height:16px;"> GitHub Project</a></li>
      </ul>
     </div>
    </div>
  </div>
</html>
