{% extends "layout.html" %}

{% block title %} Details | {{ super() }} {% endblock %}

{% block body %}

<div class="splash pure-g">
<div class="pure-u-1 pure-u-md-2-24">
</div>
<div class="pure-u-1 pure-u-md-20-24">
  <h1>Offer Details</h1>
    <a class="pure-button pure-button-primary" href={{detail[21]}} target="_blank"> Enroll Here </a>
    <a class="pure-button" href={{detail[20]}} target="_blank"> View Facts Label</a> <br> <br>
  <table class="pure-table pure-table-horizontal">
    <tr>
      <th>Plan</th>
      <td>{{ detail[3] }} (ID# {{ detail[0] }})</td>
    <tr>
    <tr>
      <th>Company</th>
      <td>{{ detail[2] }}</td>
    </tr>
    <tr>
      <th>Renewable</th>
      <td>This plan uses {% if detail[12] %} {{ detail[12] }}% {% else %} an unknown amount of {% endif %} renewable energy</td>
    <tr>
    <tr>
      <th><a href="/about#monthlybill" target="_blank">Avg Bill*</a></th>
      <td>${{ detail[26] }}0</td>
    <tr>
    <tr>
      <th>Price/kWh</th>
      <td><b>500 kWh:</b> ${{ detail[4] }}  <b>1000 kWh:</b> ${{ detail[5] }}  <b>2000 kWh:</b> ${{ detail[6] }} ({{ detail[11] }} Rate)</td>
    <tr>
    <tr>
      <th>Contract</th>
      <td>{{ detail[13] }} Months</td>
    </tr>
    <tr>
      <th>Cancellation Fee</th>
      <td>{{ detail[14] }}</td>
    </tr>
    <tr>
      <th>Customers</th>
      <td>{% if detail[24] == 'TRUE' %} New customers only {% else %} Anyone {% endif %}</td>
    </tr>
    <tr>
      <th>Special Terms</th>
      <td>{{ detail[16] }}</td>
    </tr>
  </table>
  <br>
  <a class="pure-button" href="/offers/"> Back to Results </a>
</div>
<div class="pure-u-1 pure-u-md-2-24"> </div>
</div>
{% endblock %}
